/* Write your CSS here */
.layout-bg {
  padding: 35px;
}
.header {
  text-align: center;
  padding: 35px;
  background-color: #cbd5e1;
  color: #475569;
  font-size: 32px;
}
.layout-body {
  color: #64748b;
  display: flex;
  gap: 5px;
}
.left-navbar {
  padding: 35px;
  background-color: #e2e8f0;
  width: 25%;
}
.navbar-title {
  font-weight: bold;
  font-size: 24px;
}
ul {
  list-style-type: none;
  padding-left: 10px;
}
ul li {
  margin-bottom: 15px;
  font-size: 20px;
}
.content {
  padding: 35px;
  background-color: #f1f5f9;
  width: 50%;
  font-size: 20px;
}
.box {
  border: 1px solid #64748b;
  width: 65%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
